{
    "singleQuote": false,
    "useTabs": false,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "semi": true,
    "tailwindAttributes": [
        "tw"
    ],
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}